{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}



<table class="table table-striped table-hover table-bordered ">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>

    {% if records %}

    {% for record in records %}
    <tr>
      <td>
        {{ record.first_name }}
        {{ record.last_name }}

      </td>

      <td>
        <a href="{% url 'record' record.id %}">
          {{ record.title }}
        </a>
      </td>

      <td>{{ record.created_at }}</td>

    </tr>
    {% endfor %}

    {% endif %}

  </tbody>
</table>




{% else %}

<div class="col-md-6 offset-md-3">

  <h1>Login</h1>
  <br />
  <!-- make a POST request and return home when submitted -->
  <form action="{%url 'home'%}" method="POST">
    {%csrf_token%}
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" aria-describedby="emailHelp" name="username" placeholder="Username"
          required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <br />
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </form>
</div>

{% endif %}


{% endblock %}